.wp-block-quote {
	box-sizing: border-box;
	overflow-wrap: break-word; // Break long strings of text without spaces so they don't overflow the block.
	// .is-style-large and .is-large are kept for backwards compatibility. The :not pseudo-class is used to enable switching styles. See PR #37580.
	&.is-style-large:where(:not(.is-style-plain)),
	&.is-large:where(:not(.is-style-plain)) {
		margin-bottom: 1em;
		padding: 0 1em;

		p {
			font-size: 1.5em;
			font-style: italic;
			line-height: 1.6;
		}

		cite,
		footer {
			font-size: 1.125em;
			text-align: right;
		}

	}
	> cite {
		display: block;
	}
}
// Default style rules, kept in style.scss (and not only in theme.scss) so that
// the "Default" and "Plain" styles look different with every theme.
// :where() used to keep the specificity at zero so themes can easily override them.
:where(.wp-block-quote:not(.is-style-plain):not(.is-style-large):not(.is-large)) {
	border-left: 0.25em solid currentColor;
	padding-left: 1em;
}

:where(.wp-block-quote.has-text-align-right:not(.is-style-plain):not(.is-style-large):not(.is-large)) {
	border-left: none;
	border-right: 0.25em solid currentColor;
	padding-left: 0;
	padding-right: 1em;
}

:where(.wp-block-quote.has-text-align-center:not(.is-style-plain):not(.is-style-large):not(.is-large)) {
	border: none;
	padding-left: 0;
}
